@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* GLOBALES */
body{
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

h1{
    font-size: 2rem;
    font-weight: 400;
}
h3{
    font-weight: 700;
}

h5{
    font-size: 25px;
    font-weight: 700;
}
p{
    font-weight: 400;
}

a{
    font-family: 'Roboto', sans-serif;
}


/* COLORES */
.naranja{
    background-color: #fb8500;
}
.text-naranja{
    color: #fb8500;
}

.amarillo{
    background-color: #ffb703;
}
.text-amarillo{
    color: #ffb703;
}

.azul{
    background-color: #023047;
}
.text-azul{
    color: #023047;
}

/* MENU */


#menu li > a{
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form > button{
    font-size: 18px;
    font-weight: bold;
}
.btn-azul{
    color: white;
    background-color: #023047;
}

/* SLIDER DE IMAGENES */
.contenedor-slider{
    width: 70%;
    height: auto;
    margin: auto;
}
.carousel-inner{
    height: 25rem;

}
#slider{
    background-color: #fb8500;
    padding: 1rem;
}

/* Servicios */

.texto-servicios p{
    font-size: 20px;
    font-weight: 400;
}

/* Mas Visitados */

.imgMasVisitados img{
    width: 25rem;
    height: 15rem;
}
.imgMasVisitados a{
    text-decoration: none;
}

.links{
    color:#023047;
}

/* Mas visitados puntos */
.contenedorRazones{
    background-color: #fb8500;
    border-radius: 15px;
}
.contenedorRazones a{
    text-decoration: none;
    color: #023047;
}
.contenedorRazones a:hover{
    color: white;
}
.img-col-1{
    transform: rotate(-20deg);
    margin-bottom: 50px;
}
.img-col-2{
    transform: rotate(20deg);
    margin-bottom: 50px;
    
}
.img-lugares img{
    width: 250px;
    
}
.titulo-MasVisitados{
    background-color: #023047;
}

.texto-MasVisitados h1{
    font-size: 3rem;
    font-weight: 900;
    color: white;
}
.texto-MasVisitados h2{
    font-size: 30px;
}
.texto-MasVisitados p{
    font-size: 16px;
    font-weight: 700;
}




/* fondo contacto */
#bg-contacto{
    position: relative;
    top: -130px;
}

#seccion-contacto{
    background-color: #fb8500;
    min-height: 500px;
    position: relative;
    margin-top: 15rem
}


/* EQUIPO */

.img-equipo{
    height: 400px;
    width: auto;
}
.fondo-equipo{
    background-color: #ffb703;
}
.fondo-equipo span{
    color: white;
    font-weight: 700;
}



/* formulario */
strong{
    color: white;
}
.logosupport{
    max-height: 13rem;
}
#contenedor-formulario{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#titulo-formulario{
    color: black;
}

/* formulario contacto */

.form-contacto{
    
    border-radius: 30px;
    background-color: #fb8500;
}

/* FOOTER */

footer p{
    color: white;
}

/* Media queries */

/* celular */
@media screen and (max-width: 480px){

    /* inicio */
    .contenedor-slider{
        width: 100%;
    }
    .carousel-inner{
        padding-top: 5rem;
    }
    .imgMasVisitados{
        width: 100% !important;
    }
    
    .masVisitados-respo{
        flex-direction: column;
        width: 100% !important;
    }

    /* equipo */
    .contenedor-equipo-sm{
        width: 90% !important;
    }

    .equipo-sm{
        flex-direction: column;
        padding-top: 15px;
    }
    .img-equipo-sm{
        width: 80% !important;
        padding-bottom: 15px;
    }
    .texto-equipo-sm{
        width: 100% !important;
    }

    /* Contacto */

    .redes-respo{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .text-contacto-sm{
        text-align: center;
    }
    .form-contacto-respo{
        width: 100% !important;
    }

    /* Grecia */
    .contenedorRazones{
        width: 100% !important;
    }
    .img-fluid{
        transform: none;
        margin-top: 30rem !important;
    }
    .img-fluid2{
        transform: none;
        margin-top: 30rem !important;
    }
    .col3-respo{
        width: 33% !important;
    }
    .texto-MasVisitados-respo{
        padding: 0 !important;
    }
    .texto-MasVisitados-respo p{
        font-weight: 400;
        text-align:justify;
    }
}

/* tablet */
@media (max-width:768px){

    /* inicio */
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }

    #bg-contacto{
        top: -107px;
    }

    .imgMasVisitados{
        width: 30%;
    }

    /* Equipo */

    .contenedor-equipo-md{
        width: 90% !important;
    }

    .texto-equipo-largo{
        font-size: 20px !important;
        padding: 0 !important;
    }

    /* Contacto */

    .contenedor-contacto-md{
        width: 100% !important;
    }

    /* Grecia */

    .contenedorRazones{
        width: 100% !important;
    }
    .img-fluid{
        transform: none;
        margin-top: 12rem;
    }
    .img-fluid2{
        transform: none;
        margin-top: 12rem;
    }
    .col3-respo{
        width: 33% !important;
        margin-left: 0;
    }
}
